{% extends 'base.html' %}

{% block content %}
<br>
<div class = "container">
    <div class="h4 pb-2 mb-4 text-danger border-bottom border-danger">
        You are about to delete "{{item}}".
       
    </div>
    <p>Are you sure you would like to delete?</p>
    <div class="form-control border-light">
        <a class = "btn btn-info me-2 col col-2" href="{%url 'list' %}">Cancel</a>

        <form method = "POST" action="">
            {% csrf_token %}
            <input class="btn btn-danger me-2 col col-2" type="submit" name="Confirm" value="Delete">
        </form> 
    </div>
    
</div>


{% endblock %}
