{% extends 'base.html' %}

{% block content %}
<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
    <div class="container">
        <a class="navbar-brand">Update Bucket Item</a>
    </div>
</nav>
<br>
<div class = "container">
    <div class = "row">
        <div class="col col-lg-9 form-control border-light">
            <form method = "POST" action = "">
                {% csrf_token %}
                {{form}}
                <input class="col col-2" type="submit" name="Update Bucket Item">
            
            </form>
        </div>
        
    </div>
</div>



{% endblock %}
