{% extends 'base.html' %}
{% block content %}

<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="https://www.pngfind.com/pngs/m/44-445195_steel-bucket-png-image-transparent-background-bucket-transparent.png" alt="image of a bucket" width="30" height="24" class="GeneratedImage d-inline-block align-text-top">
            Bucket List
        </a>
        
        <form class = "d-flex" method = "POST" action = "/" class = "container">
            {% csrf_token %}
            {{form.title}}
            {{form.link}}
            <input class="form-control me-2" type = "submit" name = "Create Task" placeholder = "Add new item">
        </form>
    </div>
</nav>

<br>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
          
    {% endfor %}
</ul>
{% endif %}

<div class = "container overflow-hidden">
    <div class = "row justify-content-md-center">
        <div class="col col-lg-6 form-control">
            <div class="p-2">
                ITEM NAME                   
            </div>
            
        </div>
        <div class="col col-3 form-control">
            <div class="p-2">
                DATE CREATED
            </div>
        </div>
        <div class="p-2">
            <a class = "btn btn-info">Update</a>
        </div>
            
        <div class="p-2">
            <a class = "btn btn-danger">Delete</a>
        </div>
    </div>

</div>

{% for bucket in buckets %}
    <div class = "container overflow-hidden">
        <div class = "row justify-content-md-center">
            <div class="col col-lg-6 form-control border-dark">
                <div class="p-2">
                    {% if bucket.complete == True %}
                    <strike><a href="{{bucket.link}}">{{bucket}}</a></strike>
                    {% else %}
                    <span><a href="{{bucket.link}}">{{bucket}}</a></span>
                    {% endif %}                      
                </div>
            </div>

            <div class="col col-3 form-control border-dark">
                <div class="p-2">
                    <span>{{bucket.created}}</span>
                </div>
            </div>
            
            <div class="p-2">
                <a class = "btn btn-info" href="{% url 'edit_bucket' bucket.id %}">Update</a>
            </div>
                
            <div class="p-2">
                <a class = "btn btn-danger" href="{% url 'confirmDel' bucket.id %}">Delete</a>
            </div>
        
        </div>
   

    </div>
{% endfor %}
{% endblock %}